<nb-card class="spinner center" [nbSpinner]="loading" nbSpinnerStatus="primary">
  <nb-card-body></nb-card-body>
</nb-card>

<ng-container *ngIf="!loading">
  <div class="page-title noselect">
    <h2>Stay during Semester Break</h2>
  </div>

  <nb-card *ngIf="requests.length > 0; else emptyState" [nbSpinner]="uploading">
    <nb-card-body class="noselect">
      <div class="top-button">
        <button nbButton shape="round" size="small" (click)="addRequest()">
          Submit request<nb-icon icon="plus-outline"></nb-icon>
        </button>
      </div>

      <nb-tabset>
        <nb-tab tabTitle="Processing">
          <div class="request" *ngFor="let ar of approveRequests">
            <div class="title">Application information</div>
            <div class="details">
              <div class="subtitle">Application status</div>
              <div>
                <div
                  class="status"
                  [ngClass]="{
                    info: ar.status === 'paid',
                    warning: ar.status === 'rejected',
                    success: ar.status === 'approved'
                  }"
                >
                  {{ ar.status }}
                </div>
              </div>
              <div class="subtitle">Dates</div>
              <div>
                {{ formatDate(ar.start_date) }} -
                {{ formatDate(ar.end_date) }} ({{ ar.total_days }} day{{
                  ar.total_days > 1 ? 's' : ''
                }})
              </div>
              <div class="subtitle">Reason</div>
              <div>{{ ar.reason }}</div>
            </div>

            <div class="title">Payment information</div>
            <div class="details">
              <div class="subtitle">Payment method</div>
              <div>
                {{ ar.payment_method === 1 ? 'Cash' : 'Fee deduction' }}
              </div>
              <div class="subtitle" *ngIf="ar.status !== 'rejected'">
                Total fee
              </div>
              <div *ngIf="ar.status !== 'rejected'">
                {{ ar.total_days }} *
                {{ formatPrice(ar.price_per_day) }} (price/day) =
                {{ formatPrice(ar.total_days * ar.price_per_day) }}
              </div>
            </div>

            <div class="title" *ngIf="ar.status !== 'rejected'">Timeline</div>
            <div class="details" *ngIf="ar.status !== 'rejected'">
              <div class="subtitle">Checkin</div>
              <div>
                {{ formatDate(ar?.checkin_date) }}
                <ng-container *ngIf="!ar.checkin_date">
                  <button
                    nbButton
                    size="small"
                    shape="round"
                    (click)="checkin(ar)"
                  >
                    Checkin
                  </button>
                </ng-container>
              </div>

              <div class="subtitle">Checkout</div>
              <div>
                {{ formatDate(ar?.checkout_date) }}
                <ng-container *ngIf="!ar.checkout_date">
                  <button
                    nbButton
                    size="small"
                    shape="round"
                    (click)="checkout(ar)"
                  >
                    Checkout
                  </button>
                </ng-container>
              </div>
            </div>
          </div>

          <ng-container *ngIf="approveRequests.length < 1">
            <div class="empty-data">
              <img src="assets/svg/undraw_post2_19cj.svg" alt="" />
              No application
            </div>
          </ng-container>
        </nb-tab>

        <nb-tab tabTitle="Pending">
          <div class="request" *ngFor="let pr of pendingRequests">
            <div class="title">Application information</div>
            <div class="details">
              <div class="subtitle">Application status</div>
              <div>
                <div class="status basic">{{ pr.status }}</div>
              </div>
              <div class="subtitle">Dates</div>
              <div>
                {{ formatDate(pr.start_date) }} -
                {{ formatDate(pr.end_date) }} ({{ pr.total_days }} day{{
                  pr.total_days > 1 ? 's' : ''
                }})
              </div>
              <div class="subtitle">Reason</div>
              <div>{{ pr.reason }}</div>
              <div class="subtitle">Payment method</div>
              <div>
                {{ pr.payment_method === 1 ? 'Cash' : 'Fee deduction' }}
              </div>
            </div>
            <div class="btn-wrapper">
              <button nbButton shape="round" (click)="deleteRequest(pr)">
                <nb-icon icon="trash-outline"></nb-icon>
              </button>
              <button nbButton shape="round" (click)="editRequest(pr)">
                <nb-icon icon="edit-outline"></nb-icon>
              </button>
            </div>
          </div>

          <ng-container *ngIf="pendingRequests.length < 1">
            <div class="empty-data">
              <img src="assets/svg/undraw_post2_19cj.svg" alt="" />
              No application
            </div>
          </ng-container>
        </nb-tab>
      </nb-tabset>
    </nb-card-body>
  </nb-card>

  <ng-template #emptyState>
    <div class="empty-state">
      <img src="assets/svg/undraw_setup_obqo.svg" class="noselect" />
      <h5>No record yet.</h5>
      <p>Your submitted application will show up here for you to manage</p>
      <button nbButton status="primary" shape="round" (click)="addRequest()">
        Start Applying!
      </button>
    </div>
  </ng-template>
</ng-container>
