.empty-state {
  text-align: center;

  img {
    max-width: 230px;
    height: 200px;
    width: 100%;
    margin-bottom: 1rem;
  }
}

.request {
  margin: -1rem;
  padding: 1rem;

  & + .request {
    margin-top: 1rem;
    border-top: 0.0625rem solid #e4e9f2;
  }

  .title {
    font-size: 0.75rem;
    text-transform: uppercase;
  }

  .details {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 200px auto;
    row-gap: 0.5rem;

    div {
      display: flex;
      align-items: center;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.empty-data {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.7rem;
  text-transform: uppercase;
  img {
    height: 100px;
    margin-bottom: 1rem;
  }
}

.button-icon {
  margin: 0 0.5rem;
  cursor: pointer;
  border-radius: 50%;

  &:hover {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.16);
  }
}

.top-button {
  display: flex;
  justify-content: flex-end;
}

.btn-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: -3.5rem;
  transition: margin 0.4s;

  button + button {
    margin-left: 0.5rem;
  }
}

.status {
  border-radius: 4px;
  font-weight: 700;
  font-size: 0.75rem;
  padding: 1px 8px;
  text-transform: uppercase;

  line-height: normal;

  &.warning {
    background-color: #ffaa00;
    color: #ffffff;
  }

  &.success {
    background-color: #00d68f;
    color: #ffffff;
  }

  &.info {
    background-color: #0095ff;
    color: #ffffff;
  }

  &.basic {
    background-color: #edf1f7;
    color: #222b45;
  }
}

@media only screen and (max-width: 520px) {
  .request .details {
    grid-template-columns: 1fr;

    div:nth-child(even) {
      margin-top: -0.75rem;
      font-size: 0.75rem;

      button {
        margin-top: 0.25rem;
      }
    }
  }

  .btn-wrapper {
    margin: 0;
  }
}

@media only screen and (max-width: 768px) {
  .btn-wrapper {
    margin-top: -1rem;
  }
}
