/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/material-icons/MaterialIcons-regular.woff2')
    format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/material-icons/MaterialIcons-outlined.woff2')
    format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Material Icons Round';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/material-icons/MaterialIcons-round.woff2')
    format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Material Icons Sharp';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/material-icons/MaterialIcons-sharp.woff2')
    format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Material Icons Two Tone';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/material-icons/MaterialIcons-twotone.woff2')
    format('woff2');
}

.general {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.icons {
  font-family: 'Material Icons';
  @extend .general;
}

.icons-outlined {
  font-family: 'Material Icons Outlined';
  @extend .general;
}

.icons-round {
  font-family: 'Material Icons Round';
  @extend .general;
}

.icons-sharp {
  font-family: 'Material Icons Sharp';
  @extend .general;
}

.icons-two-tone {
  font-family: 'Material Icons Two Tone';
  @extend .general;
}
