<nb-card [nbSpinner]="loading" nbSpinnerStatus="primary">
  <nb-card-body>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h5>Change password</h5>

      <div class="form-group">
        <label for="current_password">Current password</label>
        <div class="form-control-custom">
          <div class="field-w-icon">
            <input
              nbInput
              id="current_password"
              formControlName="old_password"
              [type]="showOldpass ? 'text' : 'password'"
              [status]="
                (form.get('old_password').dirty &&
                  form.get('old_password').errors?.required) ||
                oldpassError
                  ? 'danger'
                  : 'basic'
              "
            />
            <button
              nbSuffix
              nbButton
              ghost
              (click)="showOldpass = !showOldpass"
              type="button"
            >
              <nb-icon
                [icon]="showOldpass ? 'eye-outline' : 'eye-off-2-outline'"
                pack="eva"
              >
              </nb-icon>
            </button>
          </div>
          <small
            *ngIf="
              form.get('old_password').dirty &&
              form.get('old_password').errors?.required
            "
            class="text-danger"
          >
            Your current password is required
          </small>

          <small *ngIf="oldpassError" class="text-danger">
            {{ oldpassError }}
          </small>
        </div>
      </div>
      <div class="form-group">
        <label for="new_password">New password</label>
        <div class="form-control-custom">
          <div class="field-w-icon">
            <input
              nbInput
              id="new_password"
              formControlName="password"
              [type]="showPassword ? 'text' : 'password'"
              [status]="
                form.get('password').dirty &&
                form.get('password').errors?.required
                  ? 'danger'
                  : 'basic'
              "
            />
            <button
              nbSuffix
              nbButton
              ghost
              (click)="showPassword = !showPassword"
              type="button"
            >
              <nb-icon
                [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'"
                pack="eva"
              >
              </nb-icon>
            </button>
          </div>
          <small
            *ngIf="
              form.get('password').dirty &&
              form.get('password').errors?.required
            "
            class="text-danger"
          >
            New password is required
          </small>
        </div>
      </div>
      <div class="form-group">
        <label for="password_confirmation">Repeat new password</label>
        <div class="form-control-custom">
          <div class="field-w-icon">
            <input
              nbInput
              formControlName="repeat"
              [type]="showRepeat ? 'text' : 'password'"
              [status]="
                form.get('repeat').dirty &&
                (form.get('repeat').errors?.required ||
                  (form.errors?.equalPassword &&
                    !form.get('repeat').errors?.required))
                  ? 'danger'
                  : 'basic'
              "
            />
            <button
              nbSuffix
              nbButton
              ghost
              (click)="showRepeat = !showRepeat"
              type="button"
            >
              <nb-icon
                [icon]="showRepeat ? 'eye-outline' : 'eye-off-2-outline'"
                pack="eva"
              >
              </nb-icon>
            </button>
          </div>
          <small
            *ngIf="
              form.get('repeat').dirty && form.get('repeat').errors?.required
            "
            class="text-danger"
          >
            Confirmation password is required
          </small>
          <small
            *ngIf="
              form.get('repeat').dirty &&
              form.errors?.equalPassword &&
              !form.get('repeat').errors?.required
            "
            class="text-danger"
          >
            Password does not match
          </small>
        </div>
      </div>
      <div class="btn-container">
        <button type="submit" nbButton status="primary">Submit</button>
      </div>
    </form>
  </nb-card-body>
</nb-card>
