.title {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.details {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 200px auto;
  row-gap: 0.5rem;

  div {
    display: flex;
    align-items: center;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.status {
  border-radius: 4px;
  font-weight: 700;
  font-size: 0.75rem;
  padding: 1px 8px;
  text-transform: uppercase;

  line-height: normal;

  &.warning {
    background-color: #ffaa00;
    color: #ffffff;
  }

  &.success {
    background-color: #00d68f;
    color: #ffffff;
  }

  &.info {
    background-color: #0095ff;
    color: #ffffff;
  }

  &.basic {
    background-color: #edf1f7;
    color: #222b45;
  }
}

.btn-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: -3.5rem;
  transition: margin 0.4s;

  button + button {
    margin-left: 0.5rem;
  }
}

@media only screen and (max-width: 520px) {
  .details {
    grid-template-columns: 1fr;

    div:nth-child(even) {
      margin-top: -0.75rem;
      font-size: 0.75rem;
    }
  }

  .btn-wrapper {
    margin: 0;
  }
}

@media only screen and (max-width: 520px) {
  .btn-wrapper {
    margin: -1rem 0 0;
  }
}
