<div class="title">Application Information</div>
<div class="details">
  <div class="subtitle">Status</div>
  <div>
    <div
      class="status"
      [ngClass]="{
        warning: request.status === 'pending',
        success: request.status === 'in_store',
        info: request.status === 'claimed'
      }"
    >
      {{ request.status }}
    </div>
  </div>
  <div class="subtitle">Requested at</div>
  <div>{{ formatDate(request.request_date) }}</div>
</div>

<ng-container *ngIf="request.status !== 'pending'">
  <div class="title">Storage Information</div>
  <div class="details">
    <div class="subtitle">No. of Boxes</div>
    <div>
      {{ request.request_box_no }}
      {{ request.request_box_no > 1 ? 'boxes' : 'box' }}
    </div>

    <ng-container *ngIf="request.request_description">
      <div class="subtitle">Remark</div>
      <div>
        {{ request.request_description }}
      </div>
    </ng-container>

    <div class="subtitle">Storekeeper</div>
    <div>{{ request.request_storekeeper.name }}</div>

    <div class="subtitle">Stored Date</div>
    <div>{{ formatDate(request.request_resolve_date) }}</div>
  </div>
</ng-container>
<ng-container *ngIf="request.status === 'claimed'">
  <div class="title">Claim Information</div>
  <div class="details">
    <div class="subtitle">No. of Boxes</div>
    <div>
      {{ request.claim_box_no }}
      {{ request.claim_box_no > 1 ? 'boxes' : 'box' }}
    </div>

    <ng-container *ngIf="request.claim_description">
      <div class="subtitle">Remark</div>
      <div>
        {{ request.claim_description }}
      </div>
    </ng-container>

    <div class="subtitle">Claimer</div>
    <div>{{ request.claim_claimer_name }}</div>

    <div class="subtitle">Claimed Date</div>
    <div>{{ formatDate(request.claim_date) }}</div>
  </div>
</ng-container>
<ng-container *ngIf="request.status === 'pending'">
  <div class="btn-wrapper">
    <button nbButton shape="round" (click)="delete()">
      <nb-icon icon="trash-outline"></nb-icon>
    </button>
  </div>
</ng-container>
