<nb-card class="spinner center" [nbSpinner]="loading" nbSpinnerStatus="primary">
  <nb-card-body></nb-card-body>
</nb-card>

<ng-container *ngIf="!loading">
  <div class="page-title noselect">
    <h2>Files manager</h2>
  </div>

  <app-merit [uploads]="meritUploads"></app-merit>

  <app-signature [signature]="signature"></app-signature>
</ng-container>
