<nb-card class="dialog">
  <nb-card-body>
    <h5>{{ modalData.title }}</h5>
    <p>{{ modalData.description }}</p>

    <div class="btn-wrapper flex-end">
      <button
        nbButton
        size="small"
        shape="round"
        [status]="modalData.okButtonText ? 'basic' : 'info'"
        (click)="modalData.onClose()"
      >
        {{ modalData.cancelButtonText }}
      </button>

      <button
        *ngIf="modalData.okButtonText"
        nbButton
        size="small"
        shape="round"
        status="info"
        (click)="modalData.onOkay()"
      >
        {{ modalData.okButtonText }}
      </button>
    </div>
  </nb-card-body>
</nb-card>
