<nb-card class="spinner center" [nbSpinner]="loading" nbSpinnerStatus="primary">
  <nb-card-body></nb-card-body>
</nb-card>

<ng-container *ngIf="!loading">
  <div class="page-title">
    <i class="icons-round">account_circle</i>
    <h2>My Profile</h2>
  </div>

  <app-profile-form [user]="user"></app-profile-form>
</ng-container>
