h4,
h5,
h6 {
  margin: 0;
}

.subhead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4px;
  border-bottom: 1px solid #e1e4e8;
  margin: 12px 0;

  &:first-of-type {
    margin-top: 0;
  }
}

table {
  width: 100%;

  th,
  td {
    padding: 0.25rem 0;
    vertical-align: baseline;
  }

  th {
    padding-right: 0.25rem;
  }
  i {
    font-size: 20px;
    cursor: pointer;
    background-color: #edf1f7;
    border-color: #edf1f7;
    color: #222b45;
    padding: 6px;
    border-radius: 50%;

    &:hover {
      background-color: #f7f9fc;
      border-color: #f7f9fc;
    }
  }
}
