<nb-layout>
  <nb-layout-column>
    <nb-card
      class="spinner center"
      [nbSpinner]="loading"
      nbSpinnerStatus="primary"
    >
      <nb-card-body></nb-card-body>
    </nb-card>

    <ng-container *ngIf="!loading">
      <div class="wrapper">
        <div class="card" [nbSpinner]="uploading">
          <h5>Welcome to KKIS!</h5>
          <nb-alert
            closable
            status="danger"
            (close)="errorMessage = undefined"
            *ngIf="errorMessage"
          >
            {{ errorMessage }}
          </nb-alert>
          <nb-alert
            closable
            status="info"
            (close)="successMessage = undefined"
            *ngIf="successMessage"
          >
            {{ successMessage }} <a routerLink="/login">Login now!</a>
          </nb-alert>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <div class="field-w-icon">
                <input
                  nbInput
                  formControlName="password"
                  placeholder="Enter your password"
                  [type]="showPassword ? 'text' : 'password'"
                />
                <button
                  nbSuffix
                  nbButton
                  ghost
                  (click)="showPassword = !showPassword"
                  type="button"
                >
                  <nb-icon
                    [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'"
                    pack="eva"
                  >
                  </nb-icon>
                </button>
              </div>

              <small
                *ngIf="
                  form.get('password').dirty &&
                  form.get('password').errors?.required
                "
                class="form-text text-danger"
              >
                Password is required
              </small>
            </div>
            <div class="form-group">
              <div class="field-w-icon">
                <input
                  nbInput
                  formControlName="confirm_password"
                  placeholder="Repeat password"
                  [type]="showRepeat ? 'text' : 'password'"
                />
                <button
                  nbSuffix
                  nbButton
                  ghost
                  (click)="showRepeat = !showRepeat"
                  type="button"
                >
                  <nb-icon
                    [icon]="showRepeat ? 'eye-outline' : 'eye-off-2-outline'"
                    pack="eva"
                  >
                  </nb-icon>
                </button>
              </div>

              <small
                *ngIf="
                  form.get('confirm_password').dirty &&
                  form.get('confirm_password').errors?.required
                "
                class="form-text text-danger"
              >
                Confirmation password is required
              </small>
              <small
                *ngIf="
                  form.get('confirm_password').dirty &&
                  form.errors?.equalPassword &&
                  !form.get('confirm_password').errors?.required
                "
                class="form-text text-danger"
              >
                Password does not match
              </small>
            </div>
            <button nbButton status="primary" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </ng-container>
  </nb-layout-column>
</nb-layout>
