<nb-layout>
  <nb-layout-column>
    <div class="wrapper">
      <div class="card" [nbSpinner]="loading">
        <h5>Forgot your password?</h5>
        <nb-alert
          closable
          status="info"
          (close)="formSubmitted = undefined"
          *ngIf="formSubmitted"
        >
          If your account exists, you should receive an email containing a
          password reset link.
        </nb-alert>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="email">We'll send a password reset link to</label>
            <input
              id="email"
              type="email"
              nbInput
              formControlName="email"
              placeholder="Enter your email"
            />
            <small
              *ngIf="
                form.get('email').dirty && form.get('email').errors?.required
              "
              class="form-text text-danger"
            >
              Email is required
            </small>
            <small
              *ngIf="form.get('email').dirty && form.get('email').errors?.email"
              class="form-text text-danger"
            >
              Please enter a valid email address
            </small>
          </div>

          <button nbButton status="primary" type="submit">
            Send recovery link
          </button>
        </form>
        <div class="forgot-password">
          <a class="card-link" routerLink="/login">Back to login</a>
        </div>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
