.wrapper {
  padding-top: 112px;
}
.card {
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
  margin: auto;
  padding: 32px 40px;
  background: white;
  border-radius: 3px;
}

h5:first-child {
  margin-bottom: 24px;
  line-height: unset;
  font-size: unset;
  text-align: center;
}

input {
  width: 100%;
}

.form-group {
  margin-bottom: 24px;
}

button {
  width: 100%;
  font-weight: normal !important;
  text-transform: none !important;
}

.or {
  margin: 16px 0;
  font-size: 12px;
  text-align: center;
}

.forgot-password {
  padding-top: 16px;
  text-align: center;
}

a.card-link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

small {
  font-style: italic;
}

@media screen and (max-width: 767px) {
  .wrapper {
    background: white;
    height: 100%;
  }
  .card {
    width: 304px;
    box-shadow: none;
    margin: auto;
    padding: 32px 0;
    background: white;
    border: none;
  }

  nb-layout-column {
    padding: 0 !important;
  }
}

@media screen and (max-width: 320px) {
  .wrapper {
    padding-top: 48px;
  }
}

small.respond {
  margin-bottom: 24px;
  text-align: center;
}
