form {
  .form-group {
    display: flex;
    flex-direction: column;
  }

  input,
  nb-select {
    max-width: unset !important;
    width: 100%;
  }

  label {
    display: flex;
    flex-direction: column;
  }

  button {
    display: block;
    margin: auto;
  }

  h4 {
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #e1e4e8;
  }
}

.btn-wrapper {
  padding: 0.5rem 0 1rem;
  background: white;
  position: sticky;
  bottom: 0;
}

nb-card-body {
  padding-bottom: 0;
}
