<nb-card class="dialog">
  <nb-card-body>
    <button nbButton class="close" (click)="close()">
      <nb-icon icon="close-outline"></nb-icon>
    </button>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h4>Merit Record</h4>
      <div class="form-group">
        <label for="merit_session"> Session </label>
        <nb-select
          id="merit_session"
          formControlName="session"
          placeholder="Select a session"
          [status]="
            form.get('session').dirty && form.get('session').errors?.required
              ? 'danger'
              : 'basic'
          "
          ngDefaultControl
        >
          <nb-option *ngFor="let session of sessions" [value]="session">
            {{ session }}
          </nb-option>
        </nb-select>
        <small
          *ngIf="
            form.get('session').dirty && form.get('session').errors?.required
          "
          class="text-danger"
        >
          Session is required
        </small>
      </div>

      <div class="form-group">
        <label for="merit_type"> Merit Type </label>
        <nb-select
          id="merit_type"
          formControlName="type"
          placeholder="Select a type"
          [status]="
            form.get('type').dirty && form.get('type').errors?.required
              ? 'danger'
              : 'basic'
          "
          ngDefaultControl
        >
          <nb-option *ngFor="let type of types" [value]="type">
            {{ type }}
          </nb-option>
        </nb-select>
        <small
          *ngIf="form.get('type').dirty && form.get('type').errors?.required"
          class="text-danger"
        >
          Merit type is required
        </small>
      </div>

      <div *ngIf="form.get('type').value">
        <div class="form-group">
          <label for="merit_name"> {{ nameLabel }} </label>
          <input
            nbInput
            id="merit_name"
            formControlName="name"
            [status]="
              form.get('name').dirty && form.get('name').errors?.required
                ? 'danger'
                : 'basic'
            "
          />
          <small
            *ngIf="form.get('name').dirty && form.get('name').errors?.required"
            class="text-danger"
          >
            {{ nameLabel }} name is required
          </small>
        </div>

        <div class="form-group" *ngIf="form.get('position')">
          <label for="merit_position"> Position </label>
          <input
            nbInput
            id="merit_position"
            formControlName="position"
            [status]="
              form.get('position').dirty &&
              form.get('position').errors?.required
                ? 'danger'
                : 'basic'
            "
          />
          <small
            *ngIf="
              form.get('position').dirty &&
              form.get('position').errors?.required
            "
            class="text-danger"
          >
            Position is required
          </small>
        </div>

        <div class="form-group" *ngIf="form.get('term')">
          <label for="merit_term"> Term </label>
          <nb-select
            id="merit_term"
            formControlName="term"
            [status]="
              form.get('term').dirty && form.get('term').errors?.required
                ? 'danger'
                : 'basic'
            "
            ngDefaultControl
          >
            <nb-option *ngFor="let term of terms" [value]="term">
              {{ term }}
            </nb-option>
          </nb-select>
          <small
            *ngIf="form.get('term').dirty && form.get('term').errors?.required"
            class="text-danger"
          >
            Term is required
          </small>
        </div>

        <div class="form-group" *ngIf="form.get('level')">
          <label for="merit_level"> Level </label>
          <nb-select
            id="merit_level"
            formControlName="level"
            [status]="
              form.get('level').dirty && form.get('level').errors?.required
                ? 'danger'
                : 'basic'
            "
            ngDefaultControl
          >
            <nb-option *ngFor="let level of levels" [value]="level">
              {{ level }}
            </nb-option>
          </nb-select>
          <small
            *ngIf="
              form.get('level').dirty && form.get('level').errors?.required
            "
            class="text-danger"
          >
            Level is required
          </small>
        </div>

        <div class="form-group" *ngIf="form.get('achievement')">
          <label for="merit_achievement"> Achievement </label>
          <input
            nbInput
            id="merit_achievement"
            formControlName="achievement"
            [status]="
              form.get('achievement').dirty &&
              form.get('achievement').errors?.required
                ? 'danger'
                : 'basic'
            "
          />
          <small
            *ngIf="
              form.get('achievement').dirty &&
              form.get('achievement').errors?.required
            "
            class="text-danger"
          >
            Achievement is required
          </small>
        </div>

        <div class="form-group">
          <label for="merit">Merit</label>
          <input
            nbInput
            id="merit"
            formControlName="merit"
            type="number"
            [status]="
              form.get('merit').dirty &&
              (form.get('merit').errors?.required ||
                form.get('merit').errors?.min)
                ? 'danger'
                : 'basic'
            "
          />
          <small
            *ngIf="
              form.get('merit').dirty && form.get('merit').errors?.required
            "
            class="text-danger"
          >
            Merit is required
          </small>
          <small
            *ngIf="form.get('merit').dirty && form.get('merit').errors?.min"
            class="text-danger"
          >
            Please enter a valid merit point
          </small>
        </div>

        <div class="form-group" *ngIf="form.get('date')">
          <label for="merit_date">Date</label>
          <input
            id="merit_date"
            nbInput
            [nbDatepicker]="merit_date"
            formControlName="date"
            [status]="
              form.get('date').dirty && form.get('date').errors?.dateOnly
                ? 'danger'
                : 'basic'
            "
          />
          <nb-datepicker #merit_date [max]="today"></nb-datepicker>
          <small
            *ngIf="form.get('date').dirty && form.get('date').errors?.dateOnly"
            class="text-danger"
          >
            Please enter a valid date
          </small>
          <small
            *ngIf="
              form.get('date').dirty &&
              (form.get('date').errors?.dateOnly ||
                form.get('date').errors?.nbDatepickerMax)
            "
            class="text-danger"
          >
            A valid date is required
          </small>
        </div>
      </div>

      <app-attachment
        [type]="'merit'"
        [errorMessage]="
          form.get('attachment_id').dirty &&
          form.get('attachment_id').errors?.required
        "
        [selectedAttachment]="merit?.attachment.id"
        (selectAttachment)="selectAttachment($event)"
      ></app-attachment>

      <div class="btn-wrapper">
        <button nbButton shape="round" status="primary" type="submit">
          {{ merit ? 'Update' : 'Add Record' }}
        </button>
      </div>
    </form>
  </nb-card-body>
</nb-card>
