<nb-card class="dialog">
  <nb-card-body>
    <h5>Alert</h5>
    <p>Are you sure you want to delete this item?</p>

    <div class="btn-wrapper flex-end">
      <button
        nbButton
        size="small"
        shape="round"
        (click)="delete()"
        status="danger"
      >
        Yes
      </button>
      <button nbButton size="small" shape="round" (click)="cancel()">
        Cancel
      </button>
    </div>
  </nb-card-body>
</nb-card>
