<nb-card class="dialog">
  <nb-card-body>
    <button nbButton class="close" (click)="close()">
      <nb-icon icon="close-outline"></nb-icon>
    </button>
    <h4>Signature Pad</h4>
    <signature-pad
      #signaturePad
      [options]="signaturePadOptions"
      (onBeginEvent)="drawStart()"
    ></signature-pad>
    <div class="btn-wrapper">
      <button nbButton shape="round" size="small" (click)="clear()">
        Clear
      </button>
      <button
        nbButton
        status="primary"
        shape="round"
        size="small"
        (click)="submit()"
      >
        Submit
      </button>
    </div>
  </nb-card-body>
</nb-card>
