<nb-card class="dialog">
  <nb-card-body>
    <button nbButton class="close" (click)="close()">
      <nb-icon icon="close-outline"></nb-icon>
    </button>
    <form [formGroup]="form" autocomplete="off" (ngSubmit)="onSubmit()">
      <h4 class="noselect">Application</h4>
      <div class="form-group">
        <label for="start_date">
          Starting date <small>Pick a date</small>
        </label>
        <input
          nbInput
          id="start_date"
          [nbDatepicker]="start_date"
          formControlName="start_date"
          [status]="
            form.get('start_date').dirty &&
            (form.get('start_date').errors?.dateOnly ||
              form.get('start_date').errors?.nbDatepickerMin ||
              form.get('start_date').errors?.nbDatepickerMax)
              ? 'danger'
              : 'basic'
          "
        />
        <nb-datepicker
          #start_date
          [min]="min_start_date"
          [max]="max_start_date"
        ></nb-datepicker>
        <small
          *ngIf="
            form.get('start_date').dirty &&
            form.get('start_date').errors?.dateOnly
          "
          class="text-danger"
        >
          A valid date is required
        </small>
        <small
          *ngIf="
            form.get('start_date').dirty &&
            !form.get('start_date').errors?.dateOnly &&
            form.get('start_date').errors?.nbDatepickerMin
          "
          class="text-danger"
        >
          A valid date should be on days after {{ formatDate(min_start_date) }}
        </small>

        <small
          *ngIf="
            form.get('start_date').dirty &&
            !form.get('start_date').errors?.dateOnly &&
            form.get('start_date').errors?.nbDatepickerMax
          "
          class="text-danger"
        >
          A valid date should be on {{ formatDate(max_start_date) }}
          {{ dateIsSame(max_start_date, tomorrow) ? '' : ' or days before' }}
        </small>
      </div>

      <div class="form-group">
        <label for="end_date">Until<small>Pick a date</small> </label>
        <input
          id="end_date"
          nbInput
          [nbDatepicker]="end_date"
          formControlName="end_date"
          [status]="
            form.get('end_date').dirty &&
            (form.get('end_date').errors?.dateOnly ||
              form.get('end_date').errors?.nbDatepickerMin)
              ? 'danger'
              : 'basic'
          "
        />
        <nb-datepicker #end_date [min]="min_end_date"></nb-datepicker>
        <small
          *ngIf="
            form.get('end_date').dirty && form.get('end_date').errors?.dateOnly
          "
          class="text-danger"
        >
          A valid date is required
        </small>

        <small
          *ngIf="
            form.get('end_date').dirty &&
            !form.get('end_date').errors?.dateOnly &&
            form.get('end_date').errors?.nbDatepickerMin
          "
          class="text-danger"
        >
          A valid date should be on days after {{ formatDate(min_end_date) }}
        </small>
      </div>
      <div class="form-group">
        <label for="reason">Purpose of application </label>
        <input
          id="reason"
          nbInput
          formControlName="reason"
          [status]="
            form.get('reason').dirty && form.get('reason').errors?.required
              ? 'danger'
              : 'basic'
          "
        />
        <small
          *ngIf="
            form.get('reason').dirty && form.get('reason').errors?.required
          "
          class="text-danger"
        >
          Your reason is required
        </small>
      </div>

      <div class="form-group">
        <label for="payment_method">
          Payment method <small>Select a payment method</small>
        </label>
        <small
          *ngIf="
            form.get('payment_method').dirty &&
            form.get('payment_method').errors?.required
          "
          class="text-danger"
        >
          Payment method is required
        </small>
        <nb-radio-group formControlName="payment_method" class="w-100">
          <nb-radio [value]="1">Cash</nb-radio>
          <nb-radio [value]="2">Fee deduction</nb-radio>
        </nb-radio-group>
      </div>

      <div class="btn-wrapper">
        <button
          nbButton
          shape="round"
          [status]="form.valid ? 'primary' : 'basic'"
          type="submit"
        >
          Submit
        </button>
      </div>
    </form>
  </nb-card-body>
</nb-card>
