form {
  .form-group {
    display: flex;
    flex-direction: column;
  }

  input,
  nb-select {
    max-width: unset !important;
    width: 100%;
  }

  label {
    display: flex;
    flex-direction: column;

    & + small {
      margin-top: -0.5rem;
    }
  }

  button {
    display: block;
    margin: auto;
  }

  h4 {
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #e1e4e8;
  }
}

nb-card {
  .btn-wrapper {
    bottom: 0;
    position: sticky;
    background: white;
    padding: 0.5rem 0 1rem;
  }

  nb-card-body {
    padding-bottom: 0;
  }
}
