<nb-card [nbSpinner]="loading" nbSpinnerStatus="primary">
  <nb-card-header class="d-sb-c">
    <div>
      My Signature
      <small>
        Your signature will be used only for Avicenna related application
      </small>
    </div>
    <ng-container *ngIf="signature">
      <button
        id="edit"
        nbButton
        size="small"
        shape="round"
        (click)="edit()"
        style="margin: -4px 0"
      >
        <nb-icon icon="edit-2-outline"></nb-icon>
      </button>
    </ng-container>
  </nb-card-header>
  <nb-card-body>
    <ng-container *ngIf="signature; else noData">
      <img
        class="signature"
        [src]="signatureImage ? signatureImage : signature.url"
      />
    </ng-container>
    <ng-template #noData>
      <div class="empty-data">
        <img src="assets/svg/undraw_post2_19cj.svg" alt="" />
        No record
        <button
          id="add"
          nbButton
          status="primary"
          size="small"
          shape="round"
          (click)="add()"
        >
          Add signature
        </button>
      </div>
    </ng-template>
  </nb-card-body>
</nb-card>
