.d-sb-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.empty-data {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.7rem;
  text-transform: uppercase;
  img {
    height: 100px;
    margin-bottom: 1rem;
  }

  button {
    margin-top: 0.25rem;
  }
}

img.signature {
  max-width: 350px;
  display: block;
  margin: auto;
  border-radius: 0.25rem;
  transition: transform 0.3s;

  &:hover {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.08);
    transform: scale(1.04);
  }
}

small {
  font-style: italic;
  display: block;
  line-height: 1;
  color: #8f9bb3;
  margin: -1px 1rem -4px 0;
}
