.forms-wrapper {
  display: flex;
  margin: -6px;
  flex-wrap: wrap;

  .form-item {
    background: white;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1);
    }
  }

  .menu {
    padding: 1rem 1.5rem;
    border-radius: 52px;
    font-weight: 600;
    margin: 6px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .more-item {
    color: white;
    background: #222b45;
  }
}
