<div class="page-title noselect">
  <i class="icons-round">file_copy</i>
  <h2>Forms</h2>
</div>
<div class="forms-wrapper noselect">
  <div
    class="form-item menu"
    *ngFor="let form of forms"
    (click)="form.onClick()"
  >
    {{ form.label }}
  </div>
  <div class="more-item menu">More coming soon!</div>
</div>
