.status {
  border-radius: 4px;
  font-weight: 700;
  font-size: 0.75rem;
  padding: 1px 8px;
  text-transform: uppercase;
  width: fit-content;
  line-height: normal;

  &.warning {
    background-color: #ffaa00;
    color: #ffffff;
  }

  &.success {
    background-color: #00d68f;
    color: #ffffff;
  }

  &.info {
    background-color: #0095ff;
    color: #ffffff;
  }

  &.basic {
    background-color: #edf1f7;
    color: #222b45;
  }
}

.title {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  margin-right: 0.5rem;
  margin-top: 0.25rem;
}

.title + div {
  font-size: 16px;
  font-weight: lighter;

  & + div {
    font-size: 12px;
    font-weight: 100;
  }
}

.request_date {
  font-size: 12px;
  color: gray;
  margin-bottom: 4px;
}
