signature-pad {
  display: block;
  width: fit-content;
  margin: 0 auto 0.5rem;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
}

.btn-container {
  position: relative;
  top: 40px;
  width: 256px;
  display: block;
  margin: -32px auto 0;
  text-align: end;
}

img {
  display: block;
  margin: 0 auto 0.5rem;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
}
