<nb-layout>
  <nb-layout-column>
    <div class="wrapper">
      <div class="card" [nbSpinner]="loading">
        <h5>Login to your account</h5>
        <nb-alert
          status="danger"
          closable
          (close)="errorMessage = undefined"
          *ngIf="errorMessage"
        >
          {{ errorMessage }}
        </nb-alert>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input
              id="fc1"
              nbInput
              formControlName="email"
              placeholder="Enter email address"
              autocomplete="off"
            />
            <small
              *ngIf="
                form.get('email').dirty && form.get('email').errors?.required
              "
              class="form-text text-danger"
            >
              Email is required
            </small>
            <small
              *ngIf="form.get('email').dirty && form.get('email').errors?.email"
              class="form-text text-danger"
            >
              Please enter a valid email address
            </small>
          </div>

          <div class="form-group">
            <div class="field-w-icon">
              <input
                id="password"
                [type]="showPassword ? 'text' : 'password'"
                nbInput
                formControlName="password"
                placeholder="Enter password"
              />
              <button
                id="show_password_toggle"
                nbSuffix
                nbButton
                ghost
                type="button"
                (click)="showPassword = !showPassword"
              >
                <nb-icon
                  [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'"
                  pack="eva"
                >
                </nb-icon>
              </button>
            </div>

            <small
              *ngIf="
                form.get('password').dirty &&
                form.get('password').errors?.required
              "
              class="form-text text-danger"
            >
              Password is required
            </small>
          </div>
          <button id="submit" nbButton status="primary" type="submit">
            Log in
          </button>
        </form>
        <div class="forgot-password">
          <a class="card-link" routerLink="/forgot-password">Can't login?</a>
        </div>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
