<nb-card class="spinner center" [nbSpinner]="loading" nbSpinnerStatus="primary">
  <nb-card-body></nb-card-body>
</nb-card>

<ng-container *ngIf="!loading">
  <nb-card class="dialog" *ngIf="appliances.length > 0; else empty">
    <nb-card-body>
      <button nbButton class="close" (click)="close()">
        <nb-icon icon="close-outline"></nb-icon>
      </button>
      <h4>Appliance Registration</h4>
      <div class="list" *ngFor="let app of appliances">
        <div>
          {{ app.name }}
          <div style="font-weight: 700">
            {{ util.formatPrice(app.price) }}
          </div>
        </div>
        <button
          nbButton
          shape="round"
          [status]="app.selected ? 'basic' : 'primary'"
          (click)="onSelect(app)"
        >
          <nb-icon
            [icon]="app.selected ? 'close-outline' : 'shopping-cart-outline'"
          ></nb-icon>
        </button>
      </div>

      <div class="total-price">
        <h5>Total Price</h5>
        <h5>{{ util.formatPrice(totalPrice) }}</h5>
      </div>
      <form [formGroup]="form">
        <nb-checkbox status="basic" formControlName="agreement">
          With this, I allow the college management to charge through my account
          at the Student Accounts Division, Treasurer's Office, University of
          Malaya for the above items as much as the amount stated.
        </nb-checkbox>
      </form>

      <div class="btn-wrapper">
        <button
          nbButton
          (click)="onSubmit()"
          shape="round"
          [status]="form.valid ? 'primary' : 'basic'"
        >
          Submit
        </button>
      </div>
    </nb-card-body>
  </nb-card>

  <ng-template #empty>
    <nb-card class="alert dialog">
      <nb-card-body>
        <h5>Attention</h5>
        <p>You have registered everything!</p>

        <button
          nbButton
          shape="round"
          size="small"
          status="info"
          (click)="close()"
        >
          Okay
        </button>
      </nb-card-body>
    </nb-card>
  </ng-template>
</ng-container>
