h4 {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #e1e4e8;
}

.list {
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & + .list {
    margin-top: 0.5rem;
  }

  button {
    height: fit-content;
  }
}

.total-price {
  padding-top: 12px;
  margin: 1rem 0 0;
  border-top: 0.0625rem solid #e4e9f2;
  display: flex;
  justify-content: space-between;
}

form {
  margin: 0.5rem 0;
}
