.d-sb-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & + .list {
    border-top: 1px solid #d0cde1;
  }
}

.btn-wrapper {
  display: flex;
  justify-content: flex-end;

  button {
    background: none !important;
    border: none !important;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.05);
    }
  }

  button + button {
    margin-left: 0.5rem;
  }
}

.empty-data {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.7rem;
  text-transform: uppercase;
  img {
    height: 100px;
    margin-bottom: 1rem;
  }

  button {
    margin-top: 0.25rem;
  }
}

small {
  font-style: italic;
  display: block;
  line-height: 1;
  color: #8f9bb3;
  margin: -1px 1rem -4px 0;
}
