<nb-card [nbSpinner]="loading" nbSpinnerStatus="primary">
  <nb-card-header class="d-sb-c">
    <div>
      Merit
      <small>Files will be used as source of proof for your merit record</small>
    </div>
    <ng-container *ngIf="uploads.length > 0">
      <button
        nbButton
        shape="round"
        size="small"
        (click)="add()"
        style="margin: -4px 0"
      >
        <nb-icon icon="upload-outline"></nb-icon>
      </button>
    </ng-container>
  </nb-card-header>

  <nb-card-body>
    <ng-container *ngIf="uploads.length > 0; else noData">
      <div class="list" *ngFor="let upload of uploads">
        <a [href]="upload.url" target="blank">{{ formatName(upload) }}</a>
        <div class="btn-wrapper">
          <button nbButton shape="round" (click)="delete(upload.id)">
            <nb-icon icon="trash-outline"></nb-icon>
          </button>
        </div>
      </div>
    </ng-container>

    <ng-template #noData>
      <div class="empty-data">
        <img src="assets/svg/undraw_post2_19cj.svg" alt="" />
        No record
        <button
          nbButton
          status="primary"
          size="small"
          shape="round"
          (click)="add()"
        >
          Upload file
        </button>
      </div>
    </ng-template>
  </nb-card-body>
</nb-card>
