<nb-card class="dialog">
  <nb-card-body>
    <nb-alert
      closable
      status="warning"
      (close)="showError = false"
      *ngIf="showError"
    >
      Only files with the following extensions are allowed: pdf png jpg jpeg
    </nb-alert>

    <ngx-file-drop
      dropZoneLabel="Drop files here"
      (onFileDrop)="dropped($event)"
      [accept]="option.accept"
      [multiple]="option.multiple"
    >
      <ng-template
        ngx-file-drop-content-tmp
        let-openFileSelector="openFileSelector"
      >
        <div class="upload">
          <nb-icon icon="cloud-upload-outline"></nb-icon>
          <h5>Drag and drop file here</h5>
          <h5>or</h5>
          <button
            nbButton
            type="button"
            shape="round"
            (click)="openFileSelector()"
          >
            Browse Files
          </button>
        </div>
      </ng-template>
    </ngx-file-drop>

    <div class="files" *ngIf="files.length > 0">
      <div class="file" *ngFor="let file of files; index as i">
        <nb-icon icon="file-outline" class="file-icon"></nb-icon>
        <div class="name">{{ file.name }}</div>

        <button nbButton shape="round" (click)="deleteFile(i)">
          <nb-icon icon="close-outline"></nb-icon>
        </button>
      </div>

      <button
        class="submit"
        nbButton
        status="primary"
        shape="round"
        (click)="submit()"
      >
        Submit
      </button>
    </div>
  </nb-card-body>
</nb-card>
