.upload {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;

  nb-icon {
    font-size: 5rem;
  }
}

.files {
  margin: 1rem 0 0;
  .file {
    padding: 0.25rem;
    border: 1px solid #edf1f8;
    margin: 0.25rem 0;
    display: flex;
    align-items: center;

    nb-icon.file-icon {
      min-width: 40px;
      height: 40px;
      padding: 10px;
      border-radius: 0.25rem;
      background: #edf1f7;
      margin-right: 0.5rem;
    }

    .name {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    button {
      margin-left: auto;
      display: block;
      padding: 6px 4px !important;
    }
  }

  button.submit {
    margin: 1rem auto 0;
    display: block;
  }
}
