nb-layout-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    max-width: 500px;
    width: 100%;
  }

  h1 {
    text-align: center;
  }
}
