<nb-layout>
  <nb-layout-column>
    <img src="assets/svg/undraw_not_found_60pq.svg" />
    <h1>Uh-oh, page not found...</h1>
    <button nbButton shape="round" status="primary" (click)="back()">
      Go back to home
    </button>
  </nb-layout-column>
</nb-layout>
