<nb-card class="spinner center" [nbSpinner]="loading" nbSpinnerStatus="primary">
  <nb-card-body></nb-card-body>
</nb-card>

<ng-container *ngIf="!loading">
  <nb-card class="dialog">
    <nb-card-body>
      <button nbButton class="close" (click)="close()">
        <nb-icon icon="close-outline"></nb-icon>
      </button>
      <h4>Check-Out</h4>
      <h6>Letter of Undertaking</h6>
      <p style="text-align: justify">
        I hereby understand the above matters and agree that the payment be made
        through deduction in my account at the University of Malaya
      </p>
      <p style="margin: 0">Best regards,</p>
      <div style="font-size: 12px; font-style: italic">
        (Drop your signature here)
      </div>
      <div>
        <div class="btn-container" *ngIf="signatureAvailable || signature">
          <button nbButton size="small" shape="round" (click)="clear()">
            <nb-icon icon="close-outline"></nb-icon>
          </button>
        </div>

        <img [src]="signature.url" *ngIf="signature" />

        <signature-pad
          #signaturePad
          [options]="signaturePadOptions"
          (onBeginEvent)="drawStart()"
          *ngIf="!signature"
        ></signature-pad>
      </div>

      <div class="btn-wrapper">
        <button
          nbButton
          shape="round"
          [status]="signatureAvailable || signature ? 'primary' : 'basic'"
          (click)="submit()"
        >
          I agree
        </button>
      </div>
    </nb-card-body>
  </nb-card>
</ng-container>
