<nb-card class="spinner center" [nbSpinner]="loading" nbSpinnerStatus="primary">
  <nb-card-body></nb-card-body>
</nb-card>

<ng-container *ngIf="!loading">
  <div class="page-title noselect">
    <h2>Merit</h2>
  </div>

  <nb-card *ngIf="merits.length > 0; else emptyState">
    <nb-card-body>
      <div class="top-button">
        <button nbButton shape="round" size="small" (click)="addMerit()">
          Add merit
          <nb-icon icon="plus-outline"></nb-icon>
        </button>
      </div>
      <div class="top-wrapper">
        <form [formGroup]="form">
          <div class="form-group session">
            <label>Session</label>
            <div class="form-control-custom">
              <nb-select
                placeholder="Select a session"
                formControlName="session"
              >
                <nb-option *ngFor="let session of sessions" [value]="session">
                  {{ session }}
                </nb-option>
              </nb-select>
            </div>
          </div>
        </form>

        <div class="total-merit">
          <h6>Total Merit: {{ totalMerit }}</h6>
          <small>Counted against approved merit</small>
        </div>
      </div>

      <div class="type-wrapper" *ngIf="types[0].merits.length > 0">
        <h6>{{ types[0].name }}</h6>

        <nb-accordion>
          <nb-accordion-item *ngFor="let merit of types[0].merits">
            <nb-accordion-item-header>
              <div class="title-wrapper">
                <div class="title">{{ merit.name }}</div>
                <div class="status" [ngClass]="{ pending: !merit.is_approved }">
                  Pending
                </div>
              </div>
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <div><b>Position : </b> {{ merit.position }}</div>
              <div><b>Merit : </b> {{ merit.merit }}</div>

              <div class="btn-wrapper" *ngIf="!merit.is_approved">
                <button nbButton shape="round" (click)="deleteMerit(merit)">
                  <nb-icon icon="trash-outline"></nb-icon>
                </button>
                <button nbButton shape="round" (click)="editMerit(merit)">
                  <nb-icon icon="edit-outline"></nb-icon>
                </button>
              </div>
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
      </div>

      <div class="type-wrapper" *ngIf="types[1].merits.length > 0">
        <h6>{{ types[1].name }}</h6>

        <nb-accordion *ngIf="types[1].merits.length > 0">
          <nb-accordion-item *ngFor="let merit of types[1].merits">
            <nb-accordion-item-header>
              <div class="title-wrapper">
                <div class="title">{{ merit.name }}</div>
                <div class="status" [ngClass]="{ pending: !merit.is_approved }">
                  Pending
                </div>
              </div>
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <div><b>Position : </b> {{ merit.position }}</div>
              <div><b>Merit : </b> {{ merit.merit }}</div>
              <div><b>Date : </b> {{ formatDate(merit.date) }}</div>

              <div class="btn-wrapper" *ngIf="!merit.is_approved">
                <button nbButton shape="round" (click)="deleteMerit(merit)">
                  <nb-icon icon="trash-outline"></nb-icon>
                </button>
                <button nbButton shape="round" (click)="editMerit(merit)">
                  <nb-icon icon="edit-outline"></nb-icon>
                </button>
              </div>
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
      </div>

      <div class="type-wrapper" *ngIf="types[2].merits.length > 0">
        <h6>{{ types[2].name }}</h6>

        <nb-accordion>
          <nb-accordion-item *ngFor="let merit of types[2].merits">
            <nb-accordion-item-header>
              <div class="title-wrapper">
                <div class="title">{{ merit.name }}</div>
                <div class="status" [ngClass]="{ pending: !merit.is_approved }">
                  Pending
                </div>
              </div>
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <div><b>Achievement : </b>{{ merit.achievement }}</div>
              <div><b>Level : </b> {{ merit.level }}</div>
              <div><b>Merit : </b> {{ merit.merit }}</div>
              <div><b>Event Date : </b> {{ formatDate(merit.date) }}</div>

              <div class="btn-wrapper" *ngIf="!merit.is_approved">
                <button nbButton shape="round" (click)="deleteMerit(merit)">
                  <nb-icon icon="trash-outline"></nb-icon>
                </button>
                <button nbButton shape="round" (click)="editMerit(merit)">
                  <nb-icon icon="edit-outline"></nb-icon>
                </button>
              </div>
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
      </div>

      <div class="type-wrapper" *ngIf="types[3].merits.length > 0">
        <h6>{{ types[3].name }}</h6>

        <nb-accordion>
          <nb-accordion-item *ngFor="let merit of types[3].merits">
            <nb-accordion-item-header>
              <div class="title-wrapper">
                <div class="title">{{ merit.name }}</div>
                <div class="status" [ngClass]="{ pending: !merit.is_approved }">
                  Pending
                </div>
              </div>
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <div><b>Term : </b>{{ merit.term }}</div>
              <div><b>Level : </b> {{ merit.level }}</div>
              <div><b>Merit : </b> {{ merit.merit }}</div>
              <div><b>Event Date : </b> {{ formatDate(merit.date) }}</div>

              <div class="btn-wrapper" *ngIf="!merit.is_approved">
                <button nbButton shape="round" (click)="deleteMerit(merit)">
                  <nb-icon icon="trash-outline"></nb-icon>
                </button>
                <button nbButton shape="round" (click)="editMerit(merit)">
                  <nb-icon icon="edit-outline"></nb-icon>
                </button>
              </div>
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
      </div>
    </nb-card-body>
  </nb-card>

  <ng-template #emptyState>
    <div class="empty-state">
      <img src="assets/svg/undraw_product_tour_foyt.svg" />
      <h5>No record yet.</h5>
      <p>
        Your merit works like a portfolio. <br />
        Add your merit now for it to appear in this page
      </p>

      <button nbButton shape="round" status="primary" (click)="addMerit()">
        Add Merit
      </button>
    </div>
  </ng-template>
</ng-container>
