.empty-state {
  text-align: center;

  img {
    max-width: 230px;
    height: 200px;
    width: 100%;
    margin-bottom: 1rem;
  }
}

.session {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  label {
    margin-right: 16px;
  }
}

.form-group {
  margin: 0 1rem 1rem 0;
}

.total-merit {
  text-align: right;
  h6 {
    margin: 0;
  }

  small {
    font-style: italic;
    display: block;
    margin-top: -7px;
    color: #8f9bb3;
  }
}

.status {
  margin-left: 8px;
  color: white;
  display: none;

  border-radius: 4px;
  font-weight: 700;
  font-size: 0.75rem;
  padding: 1px 8px;
  text-transform: uppercase;

  line-height: normal;

  &.pending {
    display: block;
    background: #ff3d71;
  }
}

.title-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 0;
  padding-right: 20px;

  .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.btn-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: -2.5rem;
  transition: margin 0.4s;

  button + button {
    margin-left: 0.5rem;
  }
}

.type-wrapper + .type-wrapper {
  margin-top: 16px;
}

.top-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

h2 + i {
  margin-left: 16px;
}

.top-button {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 520px) {
  .status {
    font-size: 0;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
  }
  .btn-wrapper {
    margin: 0;
  }
}

@media only screen and (max-width: 767px) {
  .total-merit {
    text-align: unset;

    small {
      margin-bottom: 1rem;
    }
  }

  .form-group {
    margin-bottom: 0.5rem;
  }
}
