<nb-card class="spinner center" [nbSpinner]="loading" nbSpinnerStatus="primary">
  <nb-card-body></nb-card-body>
</nb-card>

<ng-container *ngIf="!loading">
  <div class="page-title noselect"><h2>Inventory Storage</h2></div>
  <ng-container *ngIf="requests.length > 0; else empty">
    <nb-card>
      <nb-card-body>
        <div class="top-button">
          <button nbButton shape="round" size="small" (click)="addRequest()">
            Submit request<nb-icon icon="plus-outline"></nb-icon>
          </button>
        </div>

        <nb-tabset>
          <nb-tab tabTitle="Processing">
            <app-inventory-storage-details
              *ngFor="let request of approveRequests"
              [request]="request"
            ></app-inventory-storage-details>
            <ng-container *ngIf="approveRequests.length < 1">
              <div class="empty-data">
                <img src="assets/svg/undraw_post2_19cj.svg" alt="" />
                No record
              </div>
            </ng-container>
          </nb-tab>
          <nb-tab tabTitle="Pending">
            <app-inventory-storage-details
              *ngFor="let request of pendingRequests"
              [request]="request"
              (requestDeleted)="getRequests()"
            ></app-inventory-storage-details>
            <ng-container *ngIf="pendingRequests.length < 1">
              <div class="empty-data">
                <img src="assets/svg/undraw_post2_19cj.svg" alt="" />
                No application
              </div>
            </ng-container>
          </nb-tab>
        </nb-tabset>
      </nb-card-body>
    </nb-card>
  </ng-container>

  <ng-template #empty>
    <div class="empty-state">
      <img src="assets/svg/undraw_deliveries_131a.svg" />
      <h5>No record yet.</h5>
      <p>Have a safe storage guarantee for your inventory</p>
      <button nbButton status="primary" shape="round" (click)="addRequest()">
        Request now!
      </button>
    </div>
  </ng-template>
</ng-container>
