.top-button {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1.5rem;
}

app-inventory-storage-details {
  display: block;
  margin: -1rem;
  padding: 1rem;
  & + app-inventory-storage-details {
    margin-top: 1rem;
    border-top: 0.0625rem solid #e4e9f2;
  }
}

.empty-state {
  text-align: center;

  img {
    max-width: 230px;
    height: 200px;
    width: 100%;
    margin-bottom: 1rem;
  }
}

.empty-data {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.7rem;
  text-transform: uppercase;
  img {
    height: 100px;
    margin-bottom: 1rem;
  }
}
