// @import 'themes';
@import '~@nebular/theme/styles/globals';

@import './assets/scss/icon.scss';
@import './assets/scss/theme.scss';
@import './assets/scss/form.scss';
@import './assets/scss/button.scss';

@include nb-install() {
  @include nb-theme-global();
}

app-first-time-login {
  nb-stepper {
    .header {
      .label {
        width: fit-content !important;
        text-align: center;
      }
    }

    .step-content {
      padding: 0;
    }
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.page-title {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;

  h2 {
    margin: 0;
  }

  i.icons-round {
    font-size: 36px;
    margin-right: 0.5rem;
  }
}

nb-alert.closable button.close {
  outline: none;
  padding: 1rem 1.125rem !important;
}

.nb-theme-default nb-accordion nb-accordion-item-body .item-body,
.nb-theme-default nb-accordion nb-accordion-item-header {
  padding: 16px 20px;
}

.nb-theme-default [nbInput].status-basic:disabled {
  background-color: #f7f9fc;
  border-color: #f7f9fc;
  color: #222b45;
}

nb-radio-group.w-100 {
  nb-radio label {
    width: 100%;
  }
}

nb-card.spinner {
  background-color: transparent;
  border: none !important;

  nb-spinner {
    background: transparent !important;
  }
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

app-dashboard {
  @extend .noselect;
}

nb-checkbox.list {
  .text {
    display: flex;
    justify-content: space-between;
  }
}

ngx-file-drop {
  .ngx-file-drop__drop-zone {
    border: unset !important;
    border-radius: unset !important;
    height: unset !important;
    .ngx-file-drop__content {
      align-items: unset;
      color: unset;
      height: unset;
    }
  }
}

nb-card.dialog {
  max-height: 80vh;
  max-width: 420px;
  width: 100vw;
  margin: auto;

  button.close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    opacity: 1;
    padding: 7px 5px !important;
    border-radius: 50% !important;
  }

  .btn-wrapper {
    display: flex;
    justify-content: center;

    &.flex-end {
      justify-content: flex-end;
    }
    button + button {
      margin-left: 0.5rem;
    }
  }
}

@media only screen and (max-width: 767px) {
  nb-tabset {
    ul li a,
    nb-tab {
      padding: 1rem !important;
    }
  }
}
