<nb-card class="spinner center" [nbSpinner]="loading" nbSpinnerStatus="primary">
  <nb-card-body></nb-card-body>
</nb-card>

<ng-container *ngIf="!loading && user">
  <div class="apps">
    <div
      class="app"
      [ngClass]="user.room_status === 'checked_in' ? 'disable' : ''"
      (click)="user.room_status === 'checked_out' && checkinOnClick()"
    >
      <img src="assets/svg/undraw_travelers_qlt1.svg" />
      <label> Check In</label>
    </div>

    <div
      class="app"
      [ngClass]="user.room_status === 'checked_out' ? 'disable' : ''"
      (click)="user.room_status === 'checked_in' && checkoutOnClick()"
    >
      <img src="assets/svg/undraw_travel_mode_7sf4.svg" />
      <label> Check Out</label>
    </div>
  </div>
</ng-container>
