.apps {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;

  .app {
    width: 100%;
    max-width: 328px;
    border: 1px solid #d0cde1;
    border-radius: 1rem;
    justify-self: center;
    cursor: pointer;
    transition: all 0.4s ease-in-out;

    img {
      // width: 100%;
      height: 120px;
      margin: 2rem auto;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.04);
      }
    }

    label {
      margin: 0 0.5rem 1rem;
      text-align: center;
      font-size: 0.875rem;
      display: block;
    }

    &:hover {
      background: white;
      border-color: white;
    }

    &.disable {
      cursor: auto;

      &:hover {
        background: unset;
        border-color: #d0cde1;
      }

      img,
      label {
        opacity: 0.8;
        &:hover {
          transform: unset;
        }
      }
    }
  }
}

@media only screen and (max-width: 452px) {
  .apps {
    display: grid;
    grid-template-columns: 1fr;

    .app {
      justify-self: center;
      margin-bottom: 1rem;

      & + .app {
        margin: 0;
      }
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
