<nb-card class="spinner center" [nbSpinner]="loading" nbSpinnerStatus="primary">
  <nb-card-body></nb-card-body>
</nb-card>

<ng-container *ngIf="!loading">
  <div class="page-title noselect"><h2>Appliances</h2></div>

  <nb-card *ngIf="appliances.length > 0">
    <nb-card-body>
      <ng-container>
        <div class="top-button">
          <button
            nbButton
            shape="round"
            size="small"
            (click)="registerAppliance()"
          >
            Register appliance<nb-icon icon="plus-outline"></nb-icon>
          </button>
        </div>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Appliance</th>
              <th scope="col">Price</th>
              <th scope="col">Serial No</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let app of appliances; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ app.name }}</td>
              <td>{{ util.formatPrice(app.price) }}</td>
              <td>
                {{ app.pivot.serial_no }}
                <div *ngIf="!app.pivot.serial_no" class="status processing">
                  Processing
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </nb-card-body>
  </nb-card>

  <ng-container *ngIf="appliances.length < 1">
    <div class="empty-state">
      <img src="assets/svg/undraw_noted_pc9f.svg" />
      <h5>No record yet.</h5>
      <p>You don't have any registered appliances yet</p>
      <button
        nbButton
        status="primary"
        shape="round"
        (click)="registerAppliance()"
      >
        Register now!
      </button>
    </div>
  </ng-container>
</ng-container>
