.empty-data {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.7rem;
  text-transform: uppercase;
  text-align: center;
  img {
    height: 100px;
    margin-bottom: 1rem;
  }

  button {
    margin-top: 0.5rem;
  }
}

.top-button {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1.5rem;
}

.status {
  color: white;
  border-radius: 0.25rem;
  font-weight: 700;
  font-size: 0.75rem;
  padding: 1px 8px;
  text-transform: uppercase;
  width: fit-content;
  line-height: normal;

  &.processing {
    background: #ffaa00;
  }
}

.empty-state {
  text-align: center;

  img {
    max-width: 230px;
    height: 200px;
    width: 100%;
    margin-bottom: 1rem;
  }
}
