.form-group {
  display: flex;
  justify-content: space-around;
}

label {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-width: 160px;
}

.form-control-custom {
  max-width: 28rem !important;
  flex-grow: 1;

  input {
    width: 100%;
  }
}

input,
nb-select {
  max-width: 28rem !important;
  flex-grow: 1;
  height: 40px;
}

button + button {
  margin-left: 12px;
}

.btn-container {
  margin-top: 32px;
  max-width: 28rem;
  margin: 32px auto 0;
  display: flex;
  justify-content: center;

  button {
    width: calc(50% - 6px);
    border-radius: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .form-group {
    display: flex;
    flex-direction: column;
  }

  label {
    margin-bottom: 0.5rem;
  }

  input,
  nb-select,
  .form-control-custom {
    max-width: 100% !important;
  }
}

h4,
h5 {
  text-align: center;
  padding-bottom: 4px;
  border-bottom: 1px solid #e1e4e8;
  margin-bottom: 32px;
}
