<nb-layout>
  <nb-layout-column>
    <div class="wrapper">
      <div class="card" [nbSpinner]="loading">
        <h5>Set your new password!</h5>
        <nb-alert
          status="danger"
          closable
          (close)="errorMessage = undefined"
          *ngIf="errorMessage"
        >
          <a class="card-link" routerLink="/forgot-password">
            {{ errorMessage }}
          </a>
        </nb-alert>
        <nb-alert
          status="info"
          closable
          (close)="successMessage = undefined"
          *ngIf="successMessage"
        >
          <a class="card-link" routerLink="/login">
            {{ successMessage }}
          </a>
        </nb-alert>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <div class="field-w-icon">
              <input
                nbInput
                formControlName="password"
                placeholder="New password"
                [type]="showPassword ? 'text' : 'password'"
              />
              <button
                nbSuffix
                nbButton
                ghost
                (click)="showPassword = !showPassword"
                type="button"
              >
                <nb-icon
                  [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'"
                  pack="eva"
                >
                </nb-icon>
              </button>
            </div>

            <small
              *ngIf="
                form.get('password').dirty &&
                form.get('password').errors?.required
              "
              id="password_error"
              class="form-text text-danger"
            >
              Password is required
            </small>
          </div>
          <div class="form-group">
            <div class="field-w-icon">
              <input
                nbInput
                formControlName="repeat"
                placeholder="Repeat your password"
                [type]="showRepeat ? 'text' : 'password'"
              />
              <button
                nbSuffix
                nbButton
                ghost
                (click)="showRepeat = !showRepeat"
                type="button"
              >
                <nb-icon
                  [icon]="showRepeat ? 'eye-outline' : 'eye-off-2-outline'"
                  pack="eva"
                >
                </nb-icon>
              </button>
            </div>

            <small
              *ngIf="
                form.get('repeat').dirty && form.get('repeat').errors?.required
              "
              class="form-text text-danger"
            >
              Confirmation password is required
            </small>
            <small
              *ngIf="form.get('repeat').dirty && form.errors?.equalPassword"
              class="form-text text-danger"
            >
              Password does not match
            </small>
          </div>
          <button nbButton status="primary" type="submit">
            Update password
          </button>
        </form>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
