<nb-card [nbSpinner]="loading" nbSpinnerStatus="primary">
  <nb-card-body>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="title">Student Information</div>
      <div class="form-group">
        <label for="name">Student Name</label>
        <input id="name" nbInput formControlName="name" />
      </div>

      <div class="form-group">
        <label for="matric_no">Matric No.</label>
        <input id="matric_no" nbInput formControlName="matric_no" />
      </div>

      <div class="form-group">
        <label for="course">Course</label>
        <input id="course" nbInput formControlName="course" />
      </div>

      <div class="form-group">
        <label for="room">Room No.</label>
        <input id="room" nbInput formControlName="room" />
      </div>

      <div class="title">Personal Information</div>

      <div class="form-group">
        <label for="ic_no">
          Identification Card No.
          <small>eg. 990102031234</small>
        </label>
        <div class="form-control-custom">
          <input
            id="ic_no"
            nbInput
            formControlName="ic_no"
            [status]="
              form.get('ic_no').dirty &&
              (form.get('ic_no').errors?.required ||
                form.get('ic_no').errors?.minlength ||
                form.get('ic_no').errors?.maxlength ||
                form.get('ic_no').errors?.numberOnly)
                ? 'danger'
                : 'basic'
            "
          />
          <small
            *ngIf="
              form.get('ic_no').dirty && form.get('ic_no').errors?.required
            "
            class="text-danger"
          >
            IC number is required
          </small>
          <small
            *ngIf="
              form.get('ic_no').dirty &&
              (form.get('ic_no').errors?.minlength ||
                form.get('ic_no').errors?.maxlength ||
                form.get('ic_no').errors?.numberOnly)
            "
            class="text-danger"
          >
            A valid IC number is required
          </small>
        </div>
      </div>

      <div class="form-group">
        <label for="religion"> Religion </label>
        <div class="form-control-custom">
          <nb-select
            id="religion"
            placeholder="Select a religion"
            formControlName="religion"
            [status]="
              form.get('religion').dirty &&
              form.get('religion').errors?.required
                ? 'danger'
                : 'basic'
            "
            ngDefaultControl
          >
            <nb-option *ngFor="let religion of religions" [value]="religion">
              {{ religion }}
            </nb-option>
          </nb-select>
          <small
            *ngIf="
              form.get('religion').dirty &&
              form.get('religion').errors?.required
            "
            class="text-danger"
          >
            Religion is required
          </small>
        </div>
      </div>

      <div class="form-group">
        <label for="race"> Race </label>
        <div class="form-control-custom">
          <nb-select
            id="race"
            placeholder="Select a Race"
            formControlName="race"
            [status]="
              form.get('race').dirty && form.get('race').errors?.required
                ? 'danger'
                : 'basic'
            "
            ngDefaultControl
          >
            <nb-option *ngFor="let race of races" [value]="race">
              {{ race }}
            </nb-option>
          </nb-select>
          <small
            *ngIf="form.get('race').dirty && form.get('race').errors?.required"
            class="text-danger"
          >
            Race is required
          </small>
        </div>
      </div>

      <div class="form-group">
        <label for="gender"> Gender </label>
        <div class="form-control-custom">
          <nb-select
            id="gender"
            placeholder="Select a gender"
            formControlName="gender"
            [status]="
              form.get('gender').dirty && form.get('gender').errors?.required
                ? 'danger'
                : 'basic'
            "
            ngDefaultControl
          >
            <nb-option value="Male"> Male </nb-option>
            <nb-option value="Female"> Female </nb-option>
          </nb-select>
          <small
            *ngIf="
              form.get('gender').dirty && form.get('gender').errors?.required
            "
            class="text-danger"
          >
            Gender is required
          </small>
        </div>
      </div>

      <div class="title">Contact Information</div>

      <div class="form-group">
        <label for="phone_no">Mobile No. <small>eg. 0123456789</small></label>
        <div class="form-control-custom">
          <input
            id="phone_no"
            nbInput
            formControlName="phone_no"
            [status]="
              form.get('phone_no').dirty &&
              (form.get('phone_no').errors?.required ||
                form.get('phone_no').errors?.minlength ||
                form.get('phone_no').errors?.maxlength ||
                form.get('phone_no').errors?.numberOnly)
                ? 'danger'
                : 'basic'
            "
          />
          <small
            *ngIf="
              form.get('phone_no').dirty &&
              form.get('phone_no').errors?.required
            "
            class="text-danger"
          >
            Phone number is required
          </small>
          <small
            *ngIf="
              form.get('phone_no').dirty &&
              (form.get('phone_no').errors?.minlength ||
                form.get('phone_no').errors?.maxlength ||
                form.get('phone_no').errors?.numberOnly)
            "
            class="text-danger"
          >
            A valid phone number is required
          </small>
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" nbInput formControlName="email" />
      </div>

      <div class="title">More Information</div>

      <div class="form-group">
        <label for="birth_date">Date of Birth</label>
        <div class="form-control-custom">
          <input
            id="birth_date"
            nbInput
            [nbDatepicker]="datePicker"
            placeholder="Pick a date"
            formControlName="birth_date"
            [status]="
              form.get('birth_date').dirty &&
              form.get('birth_date').errors?.dateOnly
                ? 'danger'
                : 'basic'
            "
          />
          <nb-datepicker #datePicker [max]="today"></nb-datepicker>
          <small
            *ngIf="
              form.get('birth_date').dirty &&
              (form.get('birth_date').errors?.dateOnly ||
                form.get('birth_date').errors?.nbDatepickerMax)
            "
            class="text-danger"
          >
            A valid birthdate is required
          </small>
        </div>
      </div>

      <div class="form-group">
        <label for="birth_place">Place of Birth</label>
        <div class="form-control-custom">
          <input
            id="birth_place"
            nbInput
            formControlName="birth_place"
            [status]="
              form.get('birth_place').dirty &&
              form.get('birth_place').errors?.required
                ? 'danger'
                : 'basic'
            "
          />
          <small
            *ngIf="
              form.get('birth_place').dirty &&
              form.get('birth_place').errors?.required
            "
            class="text-danger"
          >
            Your birth place is required
          </small>
        </div>
      </div>

      <div class="btn-container">
        <button id="cancel" nbButton type="button" (click)="patchForm()">
          Cancel
        </button>
        <button id="submit" nbButton type="submit" status="primary">
          Save
        </button>
      </div>
    </form>
  </nb-card-body>
</nb-card>
