.form-group {
  display: flex;
  justify-content: space-around;
}

label {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-width: 160px;
}

input,
nb-select {
  max-width: 28rem !important;
  flex-grow: 1;
  height: 40px;
}

nb-datepicker {
  display: none;
}

button + button {
  margin-left: 12px;
}

.btn-container {
  margin-top: 32px;
  max-width: 28rem;
  margin: 32px auto 0;
  display: flex;
  justify-content: center;

  button {
    width: calc(50% - 6px);
    border-radius: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .form-group {
    display: flex;
    flex-direction: column;
  }

  input,
  nb-select {
    max-width: 100% !important;
  }

  label {
    margin-bottom: 0.5rem;
  }
}

h4 {
  text-align: center;
  padding-bottom: 4px;
  border-bottom: 1px solid #e1e4e8;
  margin-bottom: 32px;
}

.title {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 2rem 0 1rem;
  padding-bottom: 0.25rem;
  border-bottom: 0.0625rem solid #e4e9f2;
  &:first-of-type {
    margin-top: 0;
  }
}

.form-control-custom {
  max-width: 28rem !important;
  -webkit-box-flex: 1;
  flex-grow: 1;

  input,
  nb-select {
    width: 100%;
  }
}
