div.upload {
  border: 0.0625rem solid #e4e9f2;
  border-radius: 0.25rem;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;

  display: flex;
  justify-content: space-between;

  &:hover {
    background-color: #f7f9fc;
    border-color: #e4e9f2;
  }

  a {
    color: #222b45;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.selected {
    background-color: #edf1f7;
    border-color: #e4e9f2;
  }
}

form {
  input {
    width: 100%;
    max-width: unset !important;
    margin: 0.5rem 0;
  }

  button {
    display: block;
    margin: auto;
  }
}

nb-card.spinner {
  margin: 1rem 0;
}
