<nb-card
  class="spinner"
  [nbSpinner]="loading"
  nbSpinnerStatus="primary"
  *ngIf="loading; else notLoading"
>
  <nb-card-body></nb-card-body>
</nb-card>

<ng-template #notLoading>
  <nb-card style="margin: 0" [nbSpinner]="uploading">
    <nb-card-body style="padding: 0.5rem">
      <h6>Source of Proof</h6>
      <div *ngIf="uploads.length > 0" style="margin-bottom: 1rem">
        <div>Select an attachment</div>
        <small *ngIf="errorMessage" class="form-text text-danger">
          Attachment is required as source of proof
        </small>
        <div
          class="upload noselect"
          *ngFor="let upload of uploads"
          title="Click to select"
          (click)="onSelect(upload.id)"
          [ngClass]="{ selected: selectedAttachment === upload.id }"
        >
          <a [href]="upload.url" target="_blank" title="Click to open file">
            {{ formatName(upload) }}
          </a>
        </div>
      </div>

      <div>Upload an attachment</div>
      <small
        *ngIf="errorMessage && !form.valid && uploads.length < 1"
        class="form-text text-danger"
      >
        Please upload a file before you submit
      </small>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <input nbInput type="file" formControlName="file" #fileInput />
        <small
          *ngIf="errorMessage && form.valid && uploads.length < 1"
          style="display: block; margin: -0.5rem 0 0.5rem"
          class="form-text text-secondary"
        >
          Don't forget to click on the button to upload the file
        </small>
        <button
          nbButton
          type="submit"
          shape="round"
          [status]="form.valid ? 'primary' : 'basic'"
        >
          <nb-icon icon="cloud-upload-outline"></nb-icon>Upload
        </button>
      </form>
    </nb-card-body>
  </nb-card>
</ng-template>
