<a href="#" class="header-item sidebar-toggle" (click)="toggle()">
  <nb-icon icon="menu-2-outline" pack="eva"></nb-icon>
</a>

<div class="header-item title" (click)="home()">Avicenna</div>

<nb-actions class="header-item" size="small">
  <nb-action
    icon="more-vertical-outline"
    [nbContextMenu]="userMenu"
    nbContextMenuTag="user-menu"
  ></nb-action>
</nb-actions>
