:host {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  .header-item {
    &:first-child {
      color: #8f9bb3;

      nb-icon {
        font-size: 1.75rem;
      }
    }

    &:nth-child(2) {
      justify-self: center;
      align-self: center;
      font-size: 1.5rem;
      cursor: pointer;
    }

    &:last-child {
      justify-self: end;

      nb-action {
        padding: 0;
      }
    }
  }
}
